<!----header-area-->
<div class="header-area">
    <app-header></app-header>
</div>
<!---all-pages-render-area-->
<div class="all-pages-render-area">
    <router-outlet></router-outlet>
    <div class="social">
        <ul>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
    </div>
</div>
<!---footer-area-->
<div class="footer-area">
    <app-footer></app-footer>
</div>